.avatar {
    width: 35px;
    height: 35px;
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
    border-radius: 50px;

    &--loading {
        background: linear-gradient(-45deg, #DDDDDD, #F0F0F0, #DDDDDD, #F0F0F0);
        background-size: 400% 400%;
        -webkit-animation: Gradient 2.25s ease infinite;
        -moz-animation: Gradient 2.25s ease infinite;
        animation: Gradient 2.25s ease infinite;
    }
}


@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}