body {
  background-color: #fff;
}

:focus-visible {
  outline: none;
}

.tab-pane {
  padding: 30px 0;
  /* border-left: 1px solid;
  border-right: 1px solid;
  border-color: #dee2e6 #dee2e6 #fff; */
}

textarea:read-only {
  resize: none;
}

a {
  text-decoration: none;
}
